@model POS.Models.StoreTerminalModel
@{
    ViewBag.Title = "AddEdit Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "";
        
}


<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
             @using (Html.BeginForm("AddEditStoreTerminalSave", "StoreTerminal", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3 class="page-title">Add/Edit Store</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row divErrorStore hide">
        <div class="col-md-12">
            <div class="text-danger">
                <b>    terminal name already exists!!!</b>
            </div>
        </div>
    </div>
                
                   <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                TerminalCode
                            </label>
                          
                            @Html.ValidationMessageFor(model => model.terminalCode, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.terminalCode, new { @class = "form-control",  @readonly="readonly" })

                           

                        </div>
                    </div>
                </div>
              <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Terminal Name
                            </label>
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })





                        </div>
                    </div>
                </div>
              
                 
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Floor Name
                            </label>
                           
                            @Html.DropDownListFor(x => x.SelectedFloorId, new SelectList(Model.Floor, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedFloorId, "", new { @class = "text-danger" })






                        </div>
                    </div>
                </div>
                 
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Color
                            </label>
                            @Html.TextBoxFor(model => model.color, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })





                        </div>
                    </div>
                </div>

          

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Status
                            </label>
                            @Html.CheckBoxFor(m => m.active, new { @class = "chkactive" })




                        </div>
                    </div>
                </div>


    <div class="row">
        <div class="row">
            <div class="col-sm-12 text-center m-t-20">
                <a href="@Url.Action("ManageStoreTerminal", "StoreTerminal")" class="btn btn-primary">
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary divSaveCancel">Save &amp; update</button>
            </div>
        </div>
    </div>
                 
                  @Html.Hidden("hdnterminalID", Model.terminalID, new { @class = "hdnterminalID" })

            }
        </div>
    </div>
</div> 

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}

<script>

<<<<<<< HEAD
            
            jQuery('#title').blur(function () {
                var _terminalName = jQuery(this).val();
                var _terminalID = jQuery('#terminalID').val();
                ValidateTerminalName(_terminalName, _terminalID);
            });
=======
    jQuery(function () {

>>>>>>> origin/master

        
        jQuery('.chkactive').change(function()
        {

            jQuery('#terminationDate').val('');
            if (jQuery(this).is(":checked")) {

                jQuery('.divterminationDate').attr('style', 'display:none');
                
            }
            else {
                jQuery('.divterminationDate').removeAttr('style');
            }


        });


        jQuery('#title').blur(function ()
        {
            
            var _terminalName = jQuery(this).val();
            var _terminalID = jQuery('.hdnterminalID').val();
            //console.log(jQuery('.hdnterminalID').val());

            ValidateTerminalName(_terminalName, _terminalID);
        });
        


    });



    function ValidateTerminalName(terminalName,terminalID) {
        var url = '@Url.Content("~/")' + "StoreTerminal/ValidateTerminalName";

        
        data = { terminalName: terminalName, terminalID: terminalID };
        jQuery.ajax({
            type: 'GET',
            url: url,
            data: data,
            success: function (data) {

                var result = jQuery.parseJSON(data);
                if (result == '1')
                {
                    jQuery('.divErrorStore').removeClass('hide');
                    jQuery('.divSaveCancel').hide();
                }
                else
                {
                    jQuery('.divErrorStore').addClass('hide');
                    jQuery('.divSaveCancel').show();
                }
                

                //jQuery('#myModalLabelUser').text("VIEW USER");

            }
        });

    }


</script>