@model POS.Models.ShiftModel
@{
    ViewBag.Title = "AddEdit Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "";
        
}
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
             @using (Html.BeginForm("AddEditShiftSave", "Shift", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3 class="page-title">Store Details</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreCode)
                            @Html.EditorFor(model => model.StoreCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StoreCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreName)
                            @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                 <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Store
                            </label>
                          
                            @Html.DropDownListFor(x => x.SelectedStoreId,
new SelectList(Model.Stores, "Value", "Text"), new { @class = "form-control" })
                          
                            
                                @Html.ValidationMessageFor(x => x.SelectedStoreId, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>
                                 <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Shift Code
                            </label>
                            @Html.TextBoxFor(model => model.shiftCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.shiftCode, "", new { @class = "text-danger" })

                            
                          


                        </div>
                    </div>
                </div>

                   <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Start Time
                            </label>
                                @Html.TextBoxFor(model => model.startTime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.startTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                End Time
                            </label>
                                @Html.TextBoxFor(model => model.endTime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.endTime, "", new { @class = "text-danger" })
                           
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">


                           
                                <label>Status: <span class="error">*</span></label>

                                
                                    @Html.CheckBoxFor(m => m.active, new { @class = "chkactive" })
                                



                        </div>
                    </div>
                </div>
             

                <div class="row">
                    <div class="row">
                        <div class="col-sm-12 text-center m-t-20">
                            <a href="@Url.Action("ManageShift", "Shift")" class="btn btn-primary">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">Save &amp; update</button>
                        </div>
                    </div>
                </div>
                @Html.Hidden("hdnShfitid", Model.shfitID)
            }
        </div>
    </div>
</div> 




<script>



    jQuery(function () {



  //      jQuery('#startTime').bootstrapMaterialDatePicker
  //  ({
  //      date: false,
  //      shortTime: false,
  //      format: 'HH:mm'
  //  });


  //      jQuery('#endTime').bootstrapMaterialDatePicker
  //({
  //    date: false,
  //    shortTime: false,
  //    format: 'HH:mm'
  //});




       // jQuery('#servicestartDate').bootstrapMaterialDatePicker({ format: 'MM/DD/YYYY'});
        //if(jQuery('.chkactive').val()=='true')
        //{

        //    jQuery('.divterminationDate').attr('style', 'display:none');

        //}
        //else
        //{
        //    jQuery('.divterminationDate').removeAttr('style');
        //}

        jQuery('.chkactive').change(function()
        {

            
            if (jQuery(this).is(":checked")) {

                jQuery('.divterminationDate').attr('style', 'display:none');

            }
            else {
                jQuery('.divterminationDate').removeAttr('style');
            }


        });


    });


</script>